* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}
.container {
  padding: 60px 70px;
  display: flex;
  flex-direction: row;
}

span {
    display: block;
}
.row{

    display: flex;
    flex-direction: row;
}
.container .logo{
    font-size: 30px;
    margin-bottom: 60px;
    
   
    width: 46;
    height: 27;
    fill: none;
    padding-top: 1;
   margin-top: 0rem;
    overflow: hidden;
    line-height: 1.4;
}
.container h1{
    color: #050C1B;
    font-weight: 900;
    margin-bottom: 0px;
    font-size: 40px;
    max-width: 470px;
    line-height: 1.3;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}


.container p {
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #39424E;
    margin-bottom: 0px;
    font-size: 16px;
    
   
}


.get_started-content-options ul {
    margin: 64px 0 48px;
    padding: 0;
    
    list-style: none;
    max-width: 450px;
}
.get_started-content-options ul a {
    color: #39424E;
    text-decoration: none;
    background-color: #FBFBFB;
    display: block;
    max-width: 466px;
    margin-bottom: 24px;
    border-radius: 8px;
    border: 1px solid #FBFBFB;
    padding: 24px 24px 24px 96px;
    transition: .25s;
    position: relative;
}
.get_started-content-options ul a:focus{

border: 1px solid;
border-radius: 10px;
}

.get_started-content-options ul a:hover{

    border: 0.8px solid gray;
    
    border-radius: 10px;
    }
.get_started-content-options ul a svg {
    position: absolute;
    left: 26px;
    top: 50%;
    transition: .25s;
    transform: translate(0, -50%);

    width: 47;
    height: 44;
    fill: none;

}





.get_started-content-options ul a b {
    display: block;
    color: #000;
    font-weight: bold;
    padding-right: 70px;
}


.get_started-content-options .btn{
    text-transform: capitalize;
}


.video{
   margin-top: 80px;
   margin-left: 100px;
    position: relative;
    padding-left: 100px;
    padding-top: 50px;
    width: 60%; 
    text-align: right;
}

@media screen and (max-width: 1400px) {
span {
    display: inline;
}




}
@media screen and (max-width: 1100px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }

    span {
        display: inline;
    }

    .container h1 {
        color: #050C1B;
        font-weight: 900;
        margin: 0 0 16px;
        font-size: 28px;
        max-width: 470px;
        line-height: 1.2;
    }

    .get_started-content-options ul a {
        color: #39424E;
        text-decoration: none;
        background-color: #FBFBFB;
        display: block;
        max-width: 466px;
        margin-bottom: 24px;
        border-radius: 8px;
        border: 1px solid #FBFBFB;
        padding: 24px 24px 24px 96px;
        transition: .25s;
        position: relative;
    }
    
    .get_started-content-options ul a b {
        display: block;
        color: #000;
        font-weight: bold;
        padding-right: 70px;
    }
.video{
visibility: hidden;
  }
}
@media screen and (max-width: 800px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }

  .get_started-content-options ul a {
    color: #39424E;
    text-decoration: none;
    background-color: #FBFBFB;
    display: block;
    max-width: 466px;
    margin-bottom: 24px;
    border-radius: 8px;
    border: 1px solid #FBFBFB;
    padding: 24px 24px 24px 96px;
    transition: .25s;
    position: relative;
    font-size: 16px;
}
.row{
    display: block;
}.container{
    display: block;
}

.get_started-content-options ul {
    margin: 64px 0 48px;
    padding: 0;
    list-style: none;
    max-width: 450px;
}
ul {
    display: block;
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}
}
@media screen and (max-width:450px)
{
    .get_started-content-options ul a {
        color: #39424E;
        text-decoration: none;
        background-color: #FBFBFB;
        display: block;
        max-width: 466px;
        margin-bottom: 24px;
        border-radius: 8px;
        border: 1px solid #FBFBFB;
        padding: 24px 24px 24px 96px;
        transition: .25s;
        position: relative;
    }

.get_started-content-options ul {
    margin: 64px 0 48px;
    padding: 0;
    list-style: none;
    max-width: 450px;
}

.get_started-content-options ul a b {
    display: block;
    color: #000;
    font-weight: bold;
    padding-right: 70px;
}
}